@import "./pages.css";
@import "./badges.css";
@import "./options-boxes.css";
@import "./inline-demo.css";
@import "./utilities.css";
@import "./style-guide.css";

.VPNav,
#VPSidebarNav,
#VPContent{
  --vt-c-brand: #0984e3;
  --vt-c-brand-highlight:#74b9ff;
  --vt-c-green: #0984e3;
  --vt-c-green-light: #74b9ff;
}
